.post {
    margin-bottom: 7px;
}
.post-upvotes {
    display: inline-block;
    margin-right: 15px;
}
.post .glyphicon {
    margin-right: 3px;
}
.post .glyphicon:hover {
    text-decoration: none;
}

.form {
    margin-top: 40px;
}

.comment {
    margin-bottom: 20px;
}
.comment-upvote {
    cursor: pointer;
}
.comment-body {
    margin-left: 10px;
    font-size: 20px;
}

.add-comment {
    margin-top: 30px;
}